

<!-- XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX -->
<!--                        BANNER	                              -->
<!-- XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX -->

<div class="jumbotron">
  <div class="container">
    <h1>Linkily.io</h1>
    <p><small>This is a website to create collections of your most precious links. Please register, or login to add links and acess your list. This software is designed specifically for the advertising agency Funnyhow and is restricted to other users.</small></p>
  </div>
</div>




<!-- XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX -->
<!--                         NOTICES                              -->
<!-- XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX -->


<%= partial :notices %>

<!-- XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX -->
<!--                         PUT POSTS                            -->
<!-- XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX -->


<%= partial :posting %>


<!-- XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX -->
<!--                        CONTENT	                              -->
<!-- XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX -->

<% if !current_user %>
	<div class="container">
	<div class="row">
        <div class="col-lg-4">
          <h2>Features</h2>
          <p>Linkily allows you to add your work links with respective tags and categories so that you and your team can know what's relevant for the company's day-to-day tasks. </p>
          <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <h2>Funnyhow</h2>
          <p>Specialised in organised creativity and supported by the ancient values della Cosa Nostra, this famiglia - that treats it's clients as such - doesn't leave problems unsolved or creativity to be desired regarding it's executions. </p>
          <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
       </div>
        <div class="col-lg-4">
          <h2>About</h2>
          <p>This whole app was built by one individual in a matter of a week, while studying how to become a programmer. All of the features and implementations were built from scratch, and the source code can be viewed in...</p>
          <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
        </div>
	</div>

	<% else %>
		<%= partial :links %>
	<% end %>



	


