<html>

  <head>
    <title>My title here</title>
    <link href="/stylesheets/application.css" rel="stylesheet" type="text/css">
  </head>


  <body>
    
    <div>
		<% if current_user %>
			Welcome, <%= current_user.email %>
		<% end %>
	    <%= yield %>
    </div>

    <div>
   		<% if flash[:notice] %>
 	 		<div id="notice"><%= flash[:notice] %></div>
		<% end %>
	</div>

  </body> 



</html>
