<html>

  <head>
    <title>My title here</title>
    <link href="/stylesheets/application.css" rel="stylesheet" type="text/css">
  </head>


  <body>
    
    <div class="test">
      <%= yield %>
    </div>

  </body> 



</html>
