<html>

  <head>
    <title>Bookmark Manager</title>
    <link href="/stylesheets/application.css" rel="stylesheet" type="text/css">
  </head>


  <body>



<!-- PUTTING SIGN OUT -->
<!-- XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX -->

 	 <% if current_user %>
		Welcome, <%= current_user.email %>
		<form method='post' action='/session'>
			<input type='hidden' name='_method' value='delete'>
			<input type='submit' value='Sign out'>
		</form>
	<% end %>



<!-- PUTTING NOTICE  OF SIGN OUT -->	
<!-- XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX -->
	<div>
	  	<% if flash[:notice] %>
	    	<div id="notice">
	      		<%= flash[:notice] %>
	    	</div>
	 	<% end %>
	</div>

<!-- PUTTING ERRORS -->
<!-- XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX -->

    <div>
   		<% if flash[:errors] && !flash[:errors].empty? %>
	   		Sorry, there were the following problems with the form. 
	   		<ul id='errors'>
	 	 		<% flash[:errors].each do |error| %>
	 	 		<li><%= error %></li>
	 	 		<% end %>
	 	 	</ul>
 	 	<% end %>
	</div>



<!-- PUTTING THE REST OF THE CONTENT -->
<!-- XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX -->

	<div>
	    <%= yield %>
	</div>


  </body> 

</html>

