<html>

  <head>
    <title>Bookmark Manager</title>
    <link href="/stylesheets/application.css" rel="stylesheet" type="text/css">
  </head>


  <body>
    
    <div>
		<% if current_user %>
			Welcome, <%= current_user.email %>
		<% end %>
    </div>

    <div>
   		<% if flash[:errors] && !flash[:errors].empty? %>
	   		Sorry, there were the following problems with the form. 
	   		<ul id='errors'>
	 	 		<% flash[:errors].each do |error| %>
	 	 		<li><%= error %></li>
	 	 		<% end %>
	 	 	</ul>
 	 	<% end %>
	</div>

	<div>
	    <%= yield %>
	</div>


  </body> 

</html>

