<html>

  <head>
    <title>My title here</title>
    <link href="/stylesheets/application.css" rel="stylesheet" type="text/css">
  </head>


  <body>
    
    <div>
		<% if current_user %>
			Welcome, <%= current_user.email %>
		<% end %>
	    <%= yield %>
    </div>

  </body> 



</html>
